#registration-banner-container {
	background-color: #E6E6E6;
}

#registration-banner {
	font-size: 18pt;
	font-weight: bold;
}

#registration-banner:hover {
	text-decoration: none;
}

#login-header-container {
	text-align: center;
}

#login-header {
	font-size: 36pt;
	font-weight: bold;
}

#register-blurb {
	font-size: 9pt;
	font-style: italic;
}

#login-form {
	display: inline-block
}

#register-form {
	display: inline-block
}

.form-container {
	text-align: center;
}
