{% load staticfiles %}
<div class="row">
	<div class="col-md-12 post-panel-header-container">
		<span class="post-panel-header">{{ header }}</span>
	</div>
</div>
<hr>
{% if posts %}
	{% for preview in posts %}
		<div class="row">
			<div class="col-md-12 post-container">
				<div class="row">
					<div class="col-md-12 post-header-container">
						<span class="post-title-span">
							<a href="{% url 'post_view' preview.post_id %}">{{ preview.title }}</a>
						<span>
						<br>
						<p class="post-author">
							By <a href="{% url 'user_view' preview.user.username %}">{{ preview.user.username }}</a>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						{% if preview.marked %}
							<span onclick="unmark({{ preview.post_id }}, this)" class="mark-count marked">Upvoted | {{ preview.mark_count }} upvotes</span>
						{% else %}
							<span onclick="mark({{ preview.post_id }}, this)" class="mark-count unmarked">Upvote | {{ preview.mark_count }} upvotes</span>
						{% endif %}
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-12 post-preview-container">
						<p class="post-preview-text">
							{{ preview.preview_text|safe }}
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 post-tag-container">
						<ul class="list-inline">
							{% if preview.tags %}
								{% for tag in preview.tags %}
									<li class="tag-item"><a href="{% url 'tag_view' tag.name %}">{{ tag.name }}</a></li>
								{% endfor %}
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<br><br>
	{% endfor %}
	<div class="row">
		<div class="pagination-container col-md-12">
	    <span class="step-links">
	    	{% if posts.has_previous %}
	      	<a class="page-link" id="previous-page" href="?page={{ posts.previous_page_number }}">&larr; Previous</a>
					&nbsp;
	      {% endif %}
	    	<span id="current-page">
	    		Page {{ posts.number }} of {{ posts.paginator.num_pages }}
	      </span>
	      {% if posts.has_next %}
					&nbsp;
	      	<a class="page-link" id="next-page" href="?page={{ posts.next_page_number }}">Next &rarr;</a>
	      {% endif %}
	    </span>
		</div>
	</div>
{% endif %}
